__pycache__/
*.pth
*.train
models/ops
exps/
exps_dance/
exps_visem
data/Dataset/mot
build/*
data/*
*.egg
*.egg-info
*.mp4
attn_vis/
multiscale_feature_map/
input_images
Time_MOTR/*.png
timesformer/*
weight/
core