__pycache__/
*.pth
*pyth
*.train
models/ops
exps/
exps_dance/
exps_visem
data/Dataset/mot
build/*
data/*
*.egg
*.egg-info
*.mp4
*.png

!figs/*.png

attn_vis/
multiscale_feature_map/
input_images
Time_MOTR/*.png
weight/
w_eval_attention/
w_eval_attention_add/
w_eval_attention_product/
w_input_images/
w_multiscale_feature_map/
core
w_output_video/